/*<input type="button" class="btn-birdey" value="test">*/

/*<a class="btn-birdey-wrapper" href=""><input type="button" class="btn-birdey" value="test"></a>*/

.btn-birdey-wrapper {
    text-decoration: none;
}

.btn-birdey {
    color: $basicWhite;
    background-color:  darkgreen;
    text-shadow: none;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: .5rem;
}

.btn-birdey:hover {
    background: linear-gradient(darkgreen, $birdeyGreen); 
    color: white;
    transition: .4s;
}

.btn-birdey:active {
    position: relative;
    top: 2px;
}

.btn-birdey:focus {
    color: #fff;
    background-color: darkgreen;
    text-shadow: none;
}