.flagged-comment--wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.flagged-comment {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.flagged-comment--commenter {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.flagged-comment--commenter--image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.flagged-comment-action {
    color: $birdeyGreen;
    text-decoration: none;
    padding: 1rem;
}

.flagged-comment-action:hover {
    color: $basicWhite;
    transition: .3s;
}

.flagged-comment--delete {
    color: $birdeyAlert;
}

@media(min-width: 910px) {
    .flagged-comment {
        margin-bottom: 3rem;
        flex-direction: row-reverse;
    }
    
    .flagged-comment--commenter {
        margin-right: 1rem;
    }
}
