.main {
    background-color: $mainGrey;
    text-align: center;
    padding: 1.2rem 0;
    margin-bottom: 4em;
    width: 100vw;
    align-self: center;
}

.main--content {
    padding: 0 1em;
    line-height: 1.3rem;
}

.main--content--links {
    list-style: none;
}

.main--content--links-line:hover {
    background-color: $lighterMainGrey;
    transition: .3s;
}

.main--content--links-item {
    color: $birdeyGreen;
    text-decoration: none;
}

.main--content--links-item:hover {
    color: $basicWhite;
    transition: .3s;
}


@media (min-width: 900px) {
    .main {
        max-width: 90%;
        margin-left: 4.5%;
    }
    
    .main--heading {
        font-size: 1.5rem;
    }
    
    .main--content {
        padding: 0 2em;
        line-height: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .main {
/*        max-width: 70vw;*/
    }
}