
.navbar {
    background-color: $mainGrey;
    color: $basicWhite;
    position: fixed;
    width: 100%;
    padding: .5em 0 .5em 1em;
    top: 0;
    left: 0;
}

.navbar--mobile--brand {
    color: $basicWhite;
    text-decoration: none;
}

.navbar--mobile--menu-btn {
    color: $basicWhite;
    cursor: pointer;
    padding-left: 1rem;
    display: inline-block;
}

.navbar-menu-item:hover {
    color: $birdeyGreen;
}

.navbar--mobile--menu {
    position: fixed;
    height: 0;
    width: 100%;
    left: 0;
    top: 2.3rem;
    background-color: $lighterMainGrey;
    text-align: center;
    transition: .8s;
}

.navbar--mobile--menu--list {
    list-style: none;
    line-height: 1.5em;
}

.navbar--mobile--menu--list-item {
    color: $birdeyGreen;
    display: none;
    text-decoration: none;
}

.navbar--mobile--menu--list-item:hover {
    color: $basicWhite;
}

.navbar--menu-bar {
    display: none;
}

@media (min-width: 900px) {
    .navbar--mobile--menu-btn {
        display: none;
    }
    
    .navbar--mobile--menu {
        display: none;
    }
    
    .navbar--mobile--menu--list {
        display: none;
    }
    
    .navbar--mobile--brand {
        font-size: 1.5rem;
    }
    
    .navbar--menu-bar {
        display: block;
        margin-top: 1em;
    }

    .navbar--menu-bar--list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .navbar--menu-bar--list--item {
        display: inline;
        padding-right: 1rem;
    }

    .navbar-menubar-list-item--text {
        color: $birdeyGreen;
        text-decoration: none;
    }

    .navbar-menubar-list-item--text:hover {
        color: $basicWhite;
    }
}