.navbar {
    background-color: $mainGrey;
    color: $basicWhite;
    position: fixed;
    width: 100%;
    padding: .5em 0 .5em 1em;
    top: 0;
    left: 0;
}

.navbar--mobile--brand {
    color: $basicWhite;
    text-decoration: none;
}

.navbar--mobile--menu-btn {
    color: $basicWhite;
    cursor: pointer;
    padding-left: 1rem;
}

.navbar-menu-item:hover {
    color: $birdeyGreen;
}

.navbar--mobile--menu {
    position: fixed;
    height: 0;
    width: 100%;
    left: 0;
    top: 2.3rem;
    background-color: $lighterMainGrey;
    text-align: center;
}

.navbar--mobile--menu--list {
    list-style: none;
    line-height: 1.5em;
}

.navbar--mobile--menu--list-item {
    color: $basicWhite;
}

.navbar--mobile--menu--list-item:hover {
    color: $birdeyGreen;
}