.upload-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}

.upload-section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}

.upload-buttons {
    margin-top: 2rem;
}

.upload-buttons--btn {
    margin: 1rem;
}

.upload--link {
    color: $birdeyGreen;
    text-decoration: none;
}

.upload--link:hover {
    color: $basicWhite;
    transition: .3s;
}

@media (min-width: 560px) {
    .upload-section--label {
        margin-bottom: 1rem;
    }
}

@media (min-width: 900px) {
    .upload-section--label {
        font-size: 1.3rem;
    }
    
    .upload-section {
        margin-bottom: 2.5rem;
    }
}